.draggable-node {
    cursor: move;
    user-select: none;

    position: absolute;
    left: 0;
    top: 0;

    padding: 0.25em;
    border: 1px solid transparent;
}

.draggable-node.selected {
    border-color: blue;
}