.sidebar {
  height: 100%;
  background: #E8E8EA;
}

.sidebar .form {
  height: 80px;
  margin: 10px 0;
}

.sidebar .assets {
  width: 100%;
}

.sidebar .assets .text, .sidebar .assets .image {
  margin: 10px 0;
}

.sidebar .assets .image ul li {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  float: left;
  overflow: hidden;
}

.sidebar .assets .image ul li img {
  width: 100%;
  height: 100%;
}